*.png binary
*.js text eol=lf
*.lua text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.xml text eol=lf
# Prevent Windows systems from cloning this repository with "\r\n" line endings
core.autocrlf=false
